.App {
  text-align: center;
}

body {
  background-color: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/60/91/9957a6ddc3ae3aa.jpg');
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
